services:
  app:
    build: .
    container_name: sri_api
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./var/log:/var/www/html/var/log
      - ./var/cache:/var/www/html/var/cache
      - ./var/tmp:/var/www/html/var/tmp
      - /var/facturacion/autorizados:/app/autorizados
      - /var/facturacion/xml_signed:/app/xml_signed
    ports:
      - "8001:80"
    environment:
      - OPENSSL_CONF=/var/www/html/openssl_legacy.cnf
      - APP_ENV=prod
      - APP_DEBUG=0
    networks:
      - sri_network
      - facturacion-network

networks:
  sri_network:
    driver: bridge
  facturacion-network:
    driver: bridge
    external: true
