services:
  app:
    build: .
    container_name: sri_api
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./var/log:/var/www/html/var/log
      - ./var/cache:/var/www/html/var/cache
      - ./var/tmp:/var/www/html/var/tmp
      - ${HOME}/sri-facturacion/autorizados:/var/www/facturacion/autorizados
      - ${HOME}/sri-facturacion/firmados:/var/www/facturacion/firmados
      - ${HOME}/sri-facturacion/sin_firma:/var/www/facturacion/sin_firma
      - ${HOME}/sri-facturacion/temporales:/var/www/facturacion/temporales
      - ${HOME}/sri-facturacion/logs:/var/www/facturacion/logs
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "8001:80"
    environment:
      - OPENSSL_CONF=/var/www/html/openssl_legacy.cnf
      - APP_ENV=prod
      - APP_DEBUG=0
      - TZ=America/Guayaquil
    networks:
      - sri_network
      - facturacion-network

networks:
  sri_network:
    driver: bridge
  facturacion-network:
    driver: bridge
    external: true
